{% load static %}

<link rel="icon" type="image/png" href="{% static 'assets/images/favicon-32x32.png' %}">
<!-- Base Styling  -->
<link rel="stylesheet" href="{% static 'assets/main/css/fonts.css' %}">
<link rel="stylesheet" href="{% static 'assets/main/css/style.css' %}">
<link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">