    {% load static %}
    <!-- JQuery v3.5.1 -->
    <script src="{% static 'assets/plugins/jquery/jquery.min.js' %}"></script>

    <!-- popper js -->
    <script src="{% static 'assets/plugins/popper/popper.min.js' %}"></script>

    <!-- Bootstrap -->
    {% comment %} <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.js' %}"></script> {% endcomment %}
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Moment -->
    <script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

    <!-- Date Range Picker -->
    <script src="{% static 'assets/plugins/daterangepicker/daterangepicker.min.js' %}"></script>

    <!-- Datatable -->
    <script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'assets/js/init-tdatatable.js' %}"></script>

    <!-- Chart js -->
    <script src="{% static 'assets/plugins/chart/chart/Chart.min.js' %}"></script>
    <script src="{% static 'assets/js/charts-custom.js' %}"></script>
    <script src="{% static 'assets/js/apex-custom.js' %}"></script>

    <!-- Main Custom JQuery -->
    <script src="{% static 'assets/js/toggleFullScreen.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
    